
 <h2>About our Sacrament Meeting Planner</h2>
 <br /><br />
<div class="row">
    <div class="col-md-4">
        <h4>Welcome</h4>
        <p>
            Our Sacrament Meeting Planner application is designed to assist you in planning and organizing your sacrament meetings. With our user-friendly features, you can easily schedule speakers, select hymns, and manage other important details for a smooth and meaningful worship experience.

            <br />  
            </br>
            <img class="about-image" src="/images/templeStars.jpg" alt="Sacrament Meeting Image" />



        </p>

    </div>
    <div class="col-md-4">
        <h4>Key Features</h4>
        <ul>
            <li>Effortlessly create and manage sacrament meeting agendas</li>
            <li>Assign speakers and specify their topics</li>
            <li>Select hymns for opening and closing songs</li>
            <li>Track attendance and record meeting minutes</li>
            <li>Generate printable agendas and reports</li>
        </ul>
        <img class="about-image" src="/images/templeDark.jpg" alt="Sacrament Meeting Image" />

     </div>
    <div class="col-md-4">
        <h3>Sacrament </h3>
        <p>
            Thank you for visiting our Sacrament Meeting website. We are dedicated to providing you with the best tools and resources for organizing and managing your sacrament meetings effectively.
           </p> <img class="about-image" src="/images/praying.jpg" alt="Sacrament Meeting Image" />

    </div>
</div>

