@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Sacrament Meeting Planner</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <img class="home-image" src="images/templeFlower.jpg" alt="Sacrament Meeting Image" />
    </div>
    <div class="col-md-6">
        <img class="home-image" src="images/bible.jpg" alt="Sacrament Meeting Image" />
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <p>
            Whether you're a member of a local congregation or a leader responsible for sacrament meeting planning, our application will help streamline your processes and enhance your worship services.
        </p>
        <p>
            If you have any questions or feedback, please don't hesitate to contact us. We're here to assist you and continually improve our services to meet your needs.
        </p>
        <p>
            <a class="btn btn-primary" href="/MeetingPlanners/Index" role="button">View Meeting Planners</a>
        </p>
    </div>
</div>
