@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Sacrament Meeting Planner</h1>
</div>
<div class="row">
    <div class="col-md-4 flex-container">
        <h4>
            Welcome to our Sacrament Meeting Website
        </h4>
        <br/>
        <img class="home-image" src="images/smeeting.jpg"/>
        <br />
        <br />
        <p>
            We strive to provide the best applications in the world. Don't hesitate to contact us
        </p>
    </div>

</div>