@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Privacy Page</h2>
<div class="row">
    <img class="privacy-image" src="/images/templet.jpg" alt="Sacrament Meeting Image" />
</div>